fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
groq
chromadb
sqlalchemy
psycopg2-binary
pypdf
docx2txt
pysqlite3-binary
langgraph
langchain
langchain-community
langchain-text-splitters
langchain-openai
openai